<h2>Login User</h2>

<form [formGroup] = "loginForm" (ngSubmit) = "loginUser()" >

    <div class="form-control">
        <label >User Name : </label>
        <input type="text" name="username" id="userName" formControlName="username" class="form-control">
        <div *ngIf="loginForm.get('username')?.invalid &&    (loginForm.get('username')?.touched || loginForm.get('username')?.dirty)">

            <div *ngIf="loginForm.get('username')?.hasError('required')" class="text-danger">
                Name is required
            </div>
        </div>
    </div>

    <div class="form-control">
        <label >Password : </label>
        <input type="password" name="password" id="password" formControlName="password" class="form-control">
        <div *ngIf="loginForm.get('password')?.invalid &&    (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">

            <div *ngIf="loginForm.get('password')?.hasError('required')" class="text-danger">
                password is required
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
            Login
    </button>
</form>
